@model IEnumerable<ElectronicsStoreMVC.Models.Order>

@{
    ViewBag.Title = "My Orders";
}

<h2>My Order History</h2>

<table class="table">
    <tr>
        <th>Date</th>
        <th>Product Name</th>
        <th>Qty</th>
        <th>Total Price</th>
        <th>Status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Date.ToShortDateString()</td>
            <td>
                @if (item.Product != null)
                {
                    <strong>@item.Product.Name</strong>
                }
                else
                {
                    <span>Unknown Product</span>
                }
            </td>
            <td>@item.ProductCount</td>
            <td>$@(item.ProductPrice * item.ProductCount)</td>
            <td>@item.Status</td>
        </tr>
    }
</table>